<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success">
        <h6>employee list</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>
                    id
                  </th>
                  <th>
                    name
                  </th>
                  <th>
                    email
                  </th>
                  <th>
                    number
                  </th>
                  <th>
                    action
                  </th>
                </tr>
              </thead>
              <tbody>
                @for (item of EmployeeList; track $index) {
                <tr>
                  <td>
                    {{$index+1}}
                  </td>
                  <td>
                    {{item.name}}
                  </td>
                  <td>
                    {{item.number}}
                  </td>
                  <td>
                    {{item.city}}
                  </td>
                  <td class="text-center">
                    
                    <button class="btn btn-danger" (click)="delete(item.empid)"> delete</button>
                    <button class="btn btn-primary mx-2" (click)="edit(item)"> edit</button>
                  </td>
                </tr>
                
                }
              </tbody>
             
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success">
        New employee
      </div>
      <div class="card-body">
        <form [formGroup]="employeeForm">
          <div class="row">
            <div class="col-12">
              <label for=""> name</label>
              <input type="text" name="" id="" formControlName="name" class="form-control">
            </div>
            <div class="col-6">
              <label for=""> email</label>
              <input type="text" name="" id="" formControlName="email" class="form-control">
            </div>
            <div class="col-6">
              <label for=""> number</label>
              <input type="text" name="" id="" formControlName="number" class="form-control">
            </div>


            <div class="col-6">
              <label for=""> city</label>
              <input type="text" name="" id="" formControlName="city" class="form-control">
            </div>
            <div class="col-6">
              <label for=""> state</label>
              <input type="text" name="" id="" formControlName="state" class="form-control">
            </div>
            <div class="col-6">
              <label for=""> pin code</label>
              <input type="text" name="" id="" formControlName="pincode" class="form-control">
            </div>
            <div class="col-6">
              <label for=""> pin code</label>
              <input type="text" name="" id="" formControlName="pincode" class="form-control">
            </div>
            <div class="col-12">
              <label for=""> address</label>
              <textarea name="" id="" formControlName="address" class="form-control"></textarea>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6 text-center">
              <button class="btn btn-secondory"> reset</button>
            </div>
            <div class="col-6 text-center">
              @if (this.id == 0) {
                <button class="btn btn-success" (click)="submit()"> save</button>
              }@else {
                 <button class="btn btn-success" (click)="update()"> update</button>
              }
             
            </div>
          </div>
        </form>


      </div>
    </div>
  </div>
</div>